/*
 Theme Name:   FactorsGroup Language Tunnel
 Description:  Language Tunnel theme, based on Twenty Seventeen
 Author:       Ben Koether
 Template:     twentyseventeen
 Version:      1.0.0
 Text Domain:  fg-language-tunnel
*/

@import "css/flags.css";

.lang-option a{
  display: inline-block;
  min-width: 80px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 20px;
}
.lang-option a:hover{
  background-color: #F9F9F9
}
